:root {
    font-family: 'Old Standard TT', 'Tangerine';
    --animate-duration: 800ms;
}

html {
    background-color: #f0e8dd;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 0 0;
}

ol {
    display: flex;
}

body {
    display: flex;
}

main {
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}

#top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em 0 0 0;
}

#title-text {
    margin: 0.5em 0 0.5em 0;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#date {
    margin: 0 0 0 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 0.5;
}

#time {
    line-height: 0.75;
    font-size: 18px;
}

#line-break {
    width: 100%;
    height: auto;
    margin: -5em 0 -5em 0;
}

#party-title {
    display: flex;
    justify-content: center;
    margin: 2em 0 0 0;
    text-decoration: underline;
    
    font-size: 24px;
}

#column-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5em 0 0.5em 0;
    overflow-x: hidden;
}

#bridesmaid-title, #groomsmen-title {
    text-decoration: underline;
    font-size: 24px;
    
}

#left-list:nth-child(1), #right-list:nth-child(1) {
    list-style-type: none;
    font-size: 22px;
}

#left-list, #right-list {
    text-align: center;
    padding: 0 0 0 0;
    line-height: 1.5;
}

#bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#procession-title {
    text-decoration: underline;
    font-size: 24px;
    
}

#event-ol {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    margin: 1em 0 0 0;
    padding: 0 0 0 0;
    list-style-type: disc;
}

#event-ol>li {
    font-size: 16px;
    /* padding: 0 0.5em 0 0.5em; */
}

#event-list {
    height: auto;
    line-height: 1.5;
}

